<header></header>
<ion-content>
	<div class="container">
		<div class="row">
			<div class="col-md-12 mt-4">
				<p-tabView>
					<p-tabPanel header="Transaction History">
						<app-history-exchange></app-history-exchange>
					</p-tabPanel>
					<p-tabPanel header="Order book">
						<app-order-book></app-order-book>
					</p-tabPanel>
					<p-tabPanel header="Transaction configuration">
						<app-transaction-configuration></app-transaction-configuration>
					</p-tabPanel>
					<p-tabPanel header="Charts">
					
					</p-tabPanel>
				</p-tabView>
			</div>
		</div>
	</div>
</ion-content>
<p-toast></p-toast>
